body{
    font-family: Arial, sans-serif;
    background:#f2f5f9;
    margin:0;
    padding:20px;
    text-align:center;
}

.header{
    background:#0066ff;
    color:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

.box{
    background:white;
    max-width:400px;
    margin:25px auto;
    padding:25px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

input, select{
    width:90%;
    padding:12px;
    margin:10px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:16px;
}

button{
    background:#0066ff;
    color:white;
    border:none;
    padding:14px 30px;
    border-radius:10px;
    font-size:17px;
    cursor:pointer;
}

button:hover{
    background:#004ecc;
}

label{
    display:block;
    text-align:left;
    margin-left:15px;
    font-weight:bold;
}

#message{
    margin-top:15px;
    font-weight:bold;
}

.footer{
    margin-top:30px;
    color:#555;
}cd
